h1 {
    color: black;
    background-color: whitesmoke;
}
.q1 {
    color: cadetblue;
}
.q2 {
    color: cornflowerblue;
}
.q3 {
    color: #ff80e4;
}
.q4 {
    color: darkseagreen;
}
.q5 {
    color: deepskyblue;
}
.q6 {
    color: rgb(98, 146, 98)
}
.q7 {
    color: rgb(51, 101, 117);
}
.q8 {
    color: rgb(226, 140, 198);
}
.q9 {
    color: rgb(121, 212, 243);
}
.q10 {
    color: darkseagreen;
}
.q11 {
    color: deepskyblue;
}